/* PALHETA DE CORES */

/* Cores de fundo */
.offwhite { background-color: #e6e1cd; }
.green { background-color: #c6d8c0; }
.whipink { background-color: #d6b3b1; }
.pink { background-color: #f97992; }
.purple { background-color: #231b42; }

/* Cores de texto */
.offwhite-text { color: #e6e1cd; }
.green-text    { color: #c6d8c0; }
.whipink-text  { color: #d6b3b1; }
.pink-text     { color: #f97992; }
.purple-text   { color: #231b42; }

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    padding: 3rem;
}

.main input, label{
  margin: 0.1rem;
}
.main button, input[type="submit"]{
  font-family: Comic Sans MS, Comic Sans, cursive;
  margin: 0.7rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.main button:hover, input[type="submit"]:hover{

  background-color: #e6e1cd;
  color: black;
}

.main a{
  text-decoration: none;
  transition: color 0.3s ease-in;
  text-align: center;
}

.main a:hover{
  color: #231b42;
}

.factors{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.factors label{
  margin-block: 1rem;
  font-weight: bold;
}

.factors p{
  font-size: smaller;
}

.factors textarea{
  width: 12rem;
  height: 5rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  padding: 1rem;
  margin: 0;
  border: 0;
  border-radius: 1rem;
  border: none;
}
